<div *ngIf="customer" class="animate-fade-in">
  <h1 class="flex items-center">
    <i class="fas fa-shopping-cart mr-2"></i> Orders for {{ customer.name | capitalize }}
  </h1>
  <table>
    <thead>
      <tr>
        <th><i class="fas fa-box mr-2"></i> Product</th>
        <th><i class="fas fa-dollar-sign mr-2"></i> Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td *ngFor="let item of order.orderItems">{{ item.productName }}</td>
        <td *ngFor="let item of order.orderItems">{{ item.itemCost | currency:'USD':'symbol' }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="!customer" class="text-center mt-8">
  <i class="fas fa-exclamation-circle mr-2"></i> No customer found
</div>
