<div *ngIf="customer">
  <h1>Orders for {{ customer.name | capitalize }}</h1>
  <table class="table table-hover orders-table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td *ngFor="let item of order.orderItems">{{ item.productName }}</td>
        <td *ngFor="let item of order.orderItems">{{ item.itemCost | currency:'USD':'symbol' }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="!customer">No customer found</div>
<br />
